<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark px-4">
        <div><a class="navbar-brand" href="/home/najaf">Meower Tech</a></div>

        <ul class="navbar-nav">

            <li *ngIf="jwtAuthService.isUserLoggedIn()"><a href="/home/najaf" class="nav-link">Home</a></li>
            <li *ngIf="jwtAuthService.isUserLoggedIn()"><a href="/todos" class="nav-link">TodoList</a></li>
        
        </ul>

        
        <ul class="navbar-nav justify-content-end navbar-collapse">

            <li *ngIf="!jwtAuthService.isUserLoggedIn()"><a href="/login" class="nav-link">Login</a></li>
            <li *ngIf="jwtAuthService.isUserLoggedIn()"><a href="/logout" class="nav-link">Logout</a></li>
        
        </ul>
    </nav>
</header>