.link {
    text-decoration: none;
    color : #2387af
}

.shown {
    display: block;
}

.hidden {
    display: none;
}

.spinner {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-bottom: solid black 3px;
    animation: processing 4s infinite;
}

@keyframes processing {
    0% {transform: rotate(0deg)}
    25% {transform: rotate(270deg)}
    50% {transform: rotate(90deg)}
    100% {transform: rotate(360deg)}
}