<div class="container">
    <div class="d-flex justify-content-center align-items-center p-5 m-2">
        <h1>Register an account for free!</h1>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-3 d-flex justify-content-center align-items-center card">
            <form>
                <div class="p-1 m-1">
                    <label for="email">Email: </label>
                </div>
                <div class="p-1 m-1">
                    <input type="text" name="email" id="email">
                </div>
                <div class="p-1 m-1">
                    <label for="password">Password: </label>
                </div>
                <div class="p-1 m-1">
                    <input type="password" name="pass" id="pass">
                </div>
                <button type="submit" class="btn btn-success m-1" id="submit">Login</button>
            </form>
        </div>
    </div>
</div>